@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
	width: initial;
}

@layer components {
	.input-label {
		@apply transition-all peer-placeholder-shown:left-3 peer-autofill:-top-3.5 peer-placeholder-shown:top-6 peer-focus:left-0 peer-focus:-top-3.5;
	}
}
.loader {
	width: 20px;
	height: 20px;
	border: 3px solid white;
	display: none;
	border-bottom-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.input__error {
	border-color: red !important;
	box-shadow: none !important;
	outline-color: red !important;
}
.label__error {
	color: red;
}
.text__error {
	display: block;
}
input[type="file"]:focus {
	/* border-color: #2563eb !important; */
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	outline-color: #2563eb;
	outline-width: 1px;
	outline-style: solid;
}
input:focus.input__error,
textarea:focus.input__error {
	outline-offset: 0px;
	outline-width: 1px;
}
input[type="file"].input__error {
}

.popup__show {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
