@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}


@layer components {
  .input-label {
    @apply transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-6 peer-focus:left-0 peer-focus:-top-3.5;
  }
}