


{% extends "components/base.twig" %}

{% block scripts %}

	<script type="module" crossorigin src={{ BASE_URI ~ "/assets/create-23e445ad.js"}}></script>
	<link rel="modulepreload" crossorigin href={{ BASE_URI ~ "/assets/modulepreload-polyfill-ec808ebb.js"}}>
	<link rel="stylesheet" href={{ BASE_URI ~ "/assets/create-b4a87cde.css"}}>
{% endblock %}
{% block content %}
	<main>
				<form class="form" method="post">
					<div class="container">
						<div class="form__inner">
							<div class="form__descr">
								<h1 class="form__title">Create</h1>
								<p class="form__text">Create a post to find a developer</p>
							</div>
							<div class="form__input input">
								<label class="input__label" for="name">Company Name</label>
								<input type="text" name="name" id="name" class="input__input" />
							</div>
							<div class="form__input input">
								<label class="input__label" for="title">Job title</label>
								<input type="text" name="title" id="title" class="input__input" />
							</div>
							<div class="form__input input">
								<label class="input__label" for="location">Job location</label>
								<input
									type="text"
									name="location"
									placeholder="Example: Remote, Latvia Riga"
									id="location"
									class="input__input"
								/>
							</div>
							<div class="form__input input">
								<label class="input__label" for="location">Tags(Comma Separated)</label>
								<input type="text" name="location" id="location" class="input__input" />
							</div>
							<div class="form__input input">
								<label class="input__label" for="location">Company Logo</label>
								<input type="file" name="location" id="location" class="input__input" />
							</div>
							<div class="form__input input">
								<label class="input__label" for="description">Job description</label>
								<textarea
									maxlength="255"
									class="input__input input__descrp"
									id="description"
								></textarea>
								<p class="form__input--hint">255 characters left</p>
							</div>
							<button class="form__button button" type="submit">Sign In</button>
							<p class="form__text-down">
								Don't have an account? <a class="form__regirect" href="#">Register</a>
							</p>
						</div>
					</div>
				</form>
			</main>

		
{% endblock %}