@font-face {
	font-family: "ChivoMono";
	src: url("fonts/ChivoMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ChivoMono";
	src: url("fonts/ChivoMono-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "ChivoMono";
	src: url("fonts/ChivoMono-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
