<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__logo">
				<a href={{BASE_URI ~ '/'}}>
					<img src={{BASE_URI ~ "/assets/images/logo.png"}} alt="logo" />
				</a>
			</div>
			<div class="header__auth auth">
				<a class="auth__link" href={{BASE_URI ~ '/register' }}>
					<i class="fa-solid fa-user-plus"></i>
					<p>Sign up</p>
				</a>
				<a class="auth__link" href={{BASE_URI ~ '/signin' }}>
					<i class="fa-solid fa-right-to-bracket"></i>
					<p>Login</p>
				</a>
			</div>
		</div>
	</div>
</header>